Packs/ThreatQ/TestPlaybooks/playbook-ThreatQ-Test.yml
elasticcommonfields: {}
id: ThreatQ - Test
version: -1
name: ThreatQ - Test
description: Test playbook for Threat Quotient
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d670581c-eab2-4d50-8fd3-f90d20f42a31
    type: start
    task:
      id: d670581c-eab2-4d50-8fd3-f90d20f42a31
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "101"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: 90152790-9ff2-483f-8070-bc13daadf579
    type: regular
    task:
      id: 90152790-9ff2-483f-8070-bc13daadf579
      version: -1
      name: Create adversary with sources
      description: Creates a new adversary in ThreatQ.
      script: ThreatQ v2|||threatq-create-adversary
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      attribute_names: {}
      attribute_values: {}
      attributes_names: {}
      attributes_values: {}
      name:
        simple: TestAdversary-26-08
      retry-count:
        simple: "3"
      sources:
        simple: Test Source,arian@demisto.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 2030
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 571c3c72-eb06-415d-80fa-8f0e754662c0
    type: regular
    task:
      id: 571c3c72-eb06-415d-80fa-8f0e754662c0
      version: -1
      name: Add a source to the adversary
      description: Adds a source to an object in ThreatQ.
      script: ThreatQ v2|||threatq-add-source
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      obj_id:
        simple: ${ThreatQ.Adversary.ID}
      obj_type:
        simple: adversary
      retry-count:
        simple: "3"
      source:
        simple: Test Source 2
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 2205
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: c8dd91b7-e620-429b-8c31-3abfd2f24cc6
    type: regular
    task:
      id: c8dd91b7-e620-429b-8c31-3abfd2f24cc6
      version: -1
      name: Delete a source of the adversary
      description: Deletes a source from an object in ThreatQ.
      script: ThreatQ v2|||threatq-delete-source
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "55"
    scriptarguments:
      obj_id:
        simple: ${ThreatQ.Adversary.ID}
      obj_type:
        simple: adversary
      retry-count:
        simple: "3"
      source:
        simple: Test Source
      source_id:
        complex:
          root: ThreatQ
          accessor: Adversary.Source
          transformers:
          - operator: WhereFieldEquals
            args:
              equalTo:
                value:
                  simple: Test Source 2
              field:
                value:
                  simple: Name
              getField:
                value:
                  simple: ID
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 2555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: 5a755be5-b502-45c7-8261-470a31693655
    type: regular
    task:
      id: 5a755be5-b502-45c7-8261-470a31693655
      version: -1
      name: Update indicator status
      description: Updates an indicator status in ThreatQ.
      script: ThreatQ v2|||threatq-update-status
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "68"
    scriptarguments:
      id:
        complex:
          root: ThreatQ
          accessor: Indicator.ID
      retry-count:
        simple: "3"
      status:
        simple: Whitelisted
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2380
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "12":
    id: "12"
    taskid: 20671ab5-8424-4be5-899a-068f83939146
    type: regular
    task:
      id: 20671ab5-8424-4be5-899a-068f83939146
      version: -1
      name: Link adversary + indicator
      description: Links two objects together in ThreatQ.
      script: ThreatQ v2|||threatq-link-objects
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      obj1_id:
        complex:
          root: ThreatQ
          accessor: Adversary.ID
          transformers:
          - operator: FirstArrayElement
      obj1_type:
        simple: adversary
      obj2_id:
        complex:
          root: ThreatQ
          accessor: Indicator.ID
          transformers:
          - operator: FirstArrayElement
      obj2_type:
        simple: indicator
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3225
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "13":
    id: "13"
    taskid: 6fd269ed-abd9-4b28-87ea-4ddd492ce3cb
    type: regular
    task:
      id: 6fd269ed-abd9-4b28-87ea-4ddd492ce3cb
      version: -1
      name: Run generic command - domain
      description: |-
        Checks the reputation of a domain in ThreatQ.

        The domain should be marked as malicious since its TQ score is greater than 7.
      script: ThreatQ v2|||domain
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      domain:
        simple: www.testdomain.com
      fullResponse: {}
      long: {}
      retries: {}
      retry-count:
        simple: "3"
      sampleSize: {}
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "14":
    id: "14"
    taskid: 1444fec8-c251-4d54-86e7-9a49490d33e7
    type: regular
    task:
      id: 1444fec8-c251-4d54-86e7-9a49490d33e7
      version: -1
      name: Run generic command - ip
      description: Checks the reputation of an IP address in ThreatQ.
      script: ThreatQ v2|||ip
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      fullResponse: {}
      ip:
        simple: 4.4.4.4
      long: {}
      retries: {}
      retry-count:
        simple: "3"
      sampleSize: {}
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "16":
    id: "16"
    taskid: 57d96429-4629-43f1-8fcf-a8d2d180521b
    type: regular
    task:
      id: 57d96429-4629-43f1-8fcf-a8d2d180521b
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
      - "18"
      - "13"
      - "21"
      - "22"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "18":
    id: "18"
    taskid: 164e88e2-e4e7-4660-828e-8b6d10c66ed1
    type: regular
    task:
      id: 164e88e2-e4e7-4660-828e-8b6d10c66ed1
      version: -1
      name: Run generic command - email
      description: Checks the reputation of an email address in ThreatQ.
      script: ThreatQ v2|||email
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      email:
        simple: rony@demisto.com
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "21":
    id: "21"
    taskid: 42ce5e86-06e2-4ab7-899d-636138eae450
    type: regular
    task:
      id: 42ce5e86-06e2-4ab7-899d-636138eae450
      version: -1
      name: Run generic command - file
      description: Checks the reputation of a file in ThreatQ.
      script: ThreatQ v2|||file
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      file:
        simple: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
      long: {}
      retries: {}
      retry-count:
        simple: "3"
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "22":
    id: "22"
    taskid: 980cf5c6-23aa-4440-8aca-8cf21d6e364b
    type: regular
    task:
      id: 980cf5c6-23aa-4440-8aca-8cf21d6e364b
      version: -1
      name: Run generic command - url
      description: Checks the reputation of a URL in ThreatQ.
      script: ThreatQ v2|||url
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      long: {}
      retries: {}
      retry-count:
        simple: "3"
      sampleSize: {}
      submitWait: {}
      threshold: {}
      url:
        simple: https://stackoverflow.com/questions/32264559/http-delete-with-python-requests-module
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "25":
    id: "25"
    taskid: d6a4da4c-22d7-4fab-88c1-d311a9517497
    type: condition
    task:
      id: d6a4da4c-22d7-4fab-88c1-d311a9517497
      version: -1
      name: Verify domain context
      description: |-
        Domain is in the database and TQ score is 9, therefore:
        1. Domain.Malicious exists
        2. ThreatQ has length 2
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "99"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: Domain
                accessor: Name
            iscontext: true
          right:
            value:
              simple: www.testdomain.com
      - - operator: isExists
          left:
            value:
              complex:
                root: Domain
                accessor: Malicious
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              complex:
                root: ThreatQ
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: ThreatQ.Indicator.Type
                      iscontext: true
                    right:
                      value:
                        simple: FQDN
                accessor: Indicator
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: Value
            iscontext: true
          right:
            value:
              simple: www.testdomain.com
    view: |-
      {
        "position": {
          "x": 50,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "27":
    id: "27"
    taskid: ed7e8340-231c-4495-89df-d9ee33486a22
    type: condition
    task:
      id: ed7e8340-231c-4495-89df-d9ee33486a22
      version: -1
      name: Verify email context
      description: Email is in the database, therefore ThreatQ contains now data.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "99"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: Account
                accessor: Email.Address
            iscontext: true
          right:
            value:
              simple: rony@demisto.com
      - - operator: isEqualString
          left:
            value:
              complex:
                root: ThreatQ
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: ThreatQ.Indicator.Type
                      iscontext: true
                    right:
                      value:
                        simple: Email Address
                accessor: Indicator
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: Value
            iscontext: true
          right:
            value:
              simple: rony@demisto.com
    view: |-
      {
        "position": {
          "x": 480,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "28":
    id: "28"
    taskid: 8ad0cd60-67ef-4082-8ba5-b556eeab60a8
    type: condition
    task:
      id: 8ad0cd60-67ef-4082-8ba5-b556eeab60a8
      version: -1
      name: Verify IP context
      description: |-
        The entered IP is not in the TQ database, therefore:
        1. IP path should contain only Address
        2. ThreatQ path should stay empty
        3. DBotScore.Score should be 0
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "99"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: IP
                accessor: Address
            iscontext: true
          right:
            value:
              simple: 4.4.4.4
      - - operator: isEqualString
          left:
            value:
              complex:
                root: DBotScore
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: DBotScore.Indicator
                      iscontext: true
                    right:
                      value:
                        simple: 4.4.4.4
                accessor: Score
            iscontext: true
          right:
            value:
              simple: "0"
    view: |-
      {
        "position": {
          "x": 910,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "29":
    id: "29"
    taskid: 65d182e0-afac-4027-8a20-082e9ee0ba71
    type: condition
    task:
      id: 65d182e0-afac-4027-8a20-082e9ee0ba71
      version: -1
      name: Verify file context
      description: File as SHA1 type exists, therefore ThreatQ has size 3
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "99"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: ThreatQ
                accessor: Indicator
                transformers:
                - operator: WhereFieldEquals
                  args:
                    equalTo:
                      value:
                        simple: SHA-1
                    field:
                      value:
                        simple: Type
                    getField:
                      value:
                        simple: Value
            iscontext: true
          right:
            value:
              simple: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
      - - operator: isEqualString
          left:
            value:
              complex:
                root: File
                accessor: SHA1
            iscontext: true
          right:
            value:
              simple: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "30":
    id: "30"
    taskid: 145dff5f-0c5d-4ebf-88ea-9a920916ffd9
    type: condition
    task:
      id: 145dff5f-0c5d-4ebf-88ea-9a920916ffd9
      version: -1
      name: Verify URL context
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "99"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: URL
                accessor: Data
            iscontext: true
          right:
            value:
              simple: https://stackoverflow.com/questions/32264559/http-delete-with-python-requests-module
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "36":
    id: "36"
    taskid: 8bac4eaa-99e8-4ca8-86f8-07c95b1dae78
    type: regular
    task:
      id: 8bac4eaa-99e8-4ca8-86f8-07c95b1dae78
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "107"
      - "108"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1010
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "37":
    id: "37"
    taskid: bf4e4c71-af0a-4a8b-8e97-9f66ae737fb6
    type: regular
    task:
      id: bf4e4c71-af0a-4a8b-8e97-9f66ae737fb6
      version: -1
      name: Create indicator with attributes
      description: Creates a new indicator in ThreatQ.
      script: ThreatQ v2|||threatq-create-indicator
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "83"
    scriptarguments:
      attributes_names:
        simple: test_attr,another Attr
      attributes_values:
        simple: test_attr_val,another Value
      retry-count:
        simple: "3"
      sources: {}
      status:
        simple: Indirect
      type:
        simple: String
      value:
        simple: 9.9.4.4
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "42":
    id: "42"
    taskid: 89dff487-8f90-4279-848d-fd5503a87401
    type: regular
    task:
      id: 89dff487-8f90-4279-848d-fd5503a87401
      version: -1
      name: Get indicator related adversaries
      description: Retrieve related adversaries from an object in ThreatQ.
      script: ThreatQ v2|||threatq-get-related-adversaries
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "43"
    scriptarguments:
      obj_id:
        complex:
          root: ThreatQ
          accessor: Indicator.ID
          transformers:
          - operator: FirstArrayElement
      obj_type:
        simple: indicator
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "43":
    id: "43"
    taskid: 895f0956-7234-4480-8f93-2c51d9e23d9d
    type: condition
    task:
      id: 895f0956-7234-4480-8f93-2c51d9e23d9d
      version: -1
      name: Verify linking
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "64"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: ThreatQ
                accessor: Indicator.RelatedAdversary.ID
                transformers:
                - operator: FirstArrayElement
            iscontext: true
          right:
            value:
              complex:
                root: ThreatQ
                accessor: Adversary.ID
                transformers:
                - operator: FirstArrayElement
            iscontext: true
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "44":
    id: "44"
    taskid: b5f0b7f7-e424-4b30-8266-ddfc4c5bd03b
    type: condition
    task:
      id: b5f0b7f7-e424-4b30-8266-ddfc4c5bd03b
      version: -1
      name: Verify score update
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "82"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ThreatQ.Indicator.TQScore
            iscontext: true
          right:
            value:
              simple: "8"
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2730
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "53":
    id: "53"
    taskid: 01825e2f-7e8b-4cbe-801b-ebafe0f0a354
    type: regular
    task:
      id: 01825e2f-7e8b-4cbe-801b-ebafe0f0a354
      version: -1
      name: Update context (search by ID)
      description: Searches for an object by object type and ID. Generic and DBotScore
        contexts also may be generated.
      script: ThreatQ v2|||threatq-search-by-id
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      obj_id:
        simple: ${ThreatQ.Adversary.ID}
      obj_type:
        simple: adversary
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 2380
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "55":
    id: "55"
    taskid: 5188061a-cd12-4bc5-82a7-e9efab241286
    type: regular
    task:
      id: 5188061a-cd12-4bc5-82a7-e9efab241286
      version: -1
      name: Update context (search by ID)
      description: Searches for an object by object type and ID. Generic and DBotScore
        contexts also may be generated.
      script: ThreatQ v2|||threatq-search-by-id
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "56"
    scriptarguments:
      obj_id:
        simple: ${ThreatQ.Adversary.ID}
      obj_type:
        simple: adversary
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 2730
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "56":
    id: "56"
    taskid: 4b36e5c3-a423-492d-8720-d1949cb9b57d
    type: condition
    task:
      id: 4b36e5c3-a423-492d-8720-d1949cb9b57d
      version: -1
      name: Verify delete source
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "115"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: hasLength
          left:
            value:
              complex:
                root: ThreatQ
                accessor: Adversary.Source.Name
            iscontext: true
          right:
            value:
              simple: "2"
        - operator: notContainsGeneral
          left:
            value:
              complex:
                root: ThreatQ
                accessor: Adversary.Source.Name
            iscontext: true
          right:
            value:
              simple: Test Source
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 2905
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "58":
    id: "58"
    taskid: 8ecd3556-f526-4985-8871-4a540ec181a2
    type: regular
    task:
      id: 8ecd3556-f526-4985-8871-4a540ec181a2
      version: -1
      name: Delete adversary
      description: Deletes an object in ThreatQ.
      script: ThreatQ v2|||threatq-delete-object
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      obj_id:
        simple: ${ThreatQ.Adversary.ID}
      obj_type:
        simple: adversary
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 4625
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "60":
    id: "60"
    taskid: 43001d9a-399c-41dd-8bfc-50a1d511f565
    type: regular
    task:
      id: 43001d9a-399c-41dd-8bfc-50a1d511f565
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "92"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 4800
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "64":
    id: "64"
    taskid: c33b1610-bb06-440e-862f-95c362b831c9
    type: regular
    task:
      id: c33b1610-bb06-440e-862f-95c362b831c9
      version: -1
      name: Unlink adversary + indicator
      description: Unlinks two objects in ThreatQ.
      script: ThreatQ v2|||threatq-unlink-objects
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "72"
    scriptarguments:
      obj1_id:
        complex:
          root: ThreatQ
          accessor: Indicator.ID
          transformers:
          - operator: FirstArrayElement
      obj1_type:
        simple: indicator
      obj2_id:
        complex:
          root: ThreatQ
          accessor: Adversary.ID
          transformers:
          - operator: FirstArrayElement
      obj2_type:
        simple: adversary
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "67":
    id: "67"
    taskid: 608e2256-ec86-4d3f-8b08-9637ace7f7ec
    type: condition
    task:
      id: 608e2256-ec86-4d3f-8b08-9637ace7f7ec
      version: -1
      name: Verify unlinking
      description: Check whether the values provided in arguments are equal. If either
        of the arguments are missing, no is returned.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "58"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotExists
          left:
            value:
              complex:
                root: ThreatQ
                accessor: Adversary.RelatedIndicator
            iscontext: true
    view: |-
      {
        "position": {
          "x": 910,
          "y": 4450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "68":
    id: "68"
    taskid: 3d694fcd-946f-421d-8852-011f726408ad
    type: regular
    task:
      id: 3d694fcd-946f-421d-8852-011f726408ad
      version: -1
      name: Update context - indicator (search by ID)
      description: Searches for an object by object type and ID. Generic and DBotScore
        contexts also may be generated.
      script: ThreatQ v2|||threatq-search-by-id
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "44"
    scriptarguments:
      obj_id:
        simple: ${ThreatQ.Indicator.ID}
      obj_type:
        simple: indicator
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "72":
    id: "72"
    taskid: 97c5d97e-d66b-48a8-88ec-0d04ae858b13
    type: regular
    task:
      id: 97c5d97e-d66b-48a8-88ec-0d04ae858b13
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "75"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3925
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "73":
    id: "73"
    taskid: 9b0dfcec-c8f5-4b6b-8d43-5a499cbc2cb3
    type: regular
    task:
      id: 9b0dfcec-c8f5-4b6b-8d43-5a499cbc2cb3
      version: -1
      name: Get adversary related indicators
      description: Retrieves related indicators for an object in ThreatQ.
      script: ThreatQ v2|||threatq-get-related-indicators
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "67"
    scriptarguments:
      obj_id:
        complex:
          root: ThreatQ
          accessor: Adversary.ID
      obj_type:
        simple: adversary
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 4275
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "74":
    id: "74"
    taskid: b65d4eaa-0d7f-47c3-81a7-55b607d0d534
    type: title
    task:
      id: b65d4eaa-0d7f-47c3-81a7-55b607d0d534
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 6375
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "75":
    id: "75"
    taskid: fa4bc923-e29d-45ab-846d-42bb12fd0565
    type: regular
    task:
      id: fa4bc923-e29d-45ab-846d-42bb12fd0565
      version: -1
      name: Update context  - adversary (Search by name)
      description: Searches for objects by name in the ThreatQ repository.
      script: ThreatQ v2|||threatq-search-by-name
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "73"
    scriptarguments:
      limit: {}
      name:
        simple: TestAdversary-26-08
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 4100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "80":
    id: "80"
    taskid: f59231f5-6ec5-45e9-8375-4ffb72ed0d32
    type: regular
    task:
      id: f59231f5-6ec5-45e9-8375-4ffb72ed0d32
      version: -1
      name: Update indicator score
      description: Modifies an indicator's score in ThreatQ. The final indicator score
        is the highest of the manual and generated scores.
      script: ThreatQ v2|||threatq-update-score
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      id:
        simple: ${ThreatQ.Indicator.ID}
      retry-count:
        simple: "3"
      score:
        simple: "8"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2205
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "82":
    id: "82"
    taskid: eda32e16-ea5e-494f-85b3-1a2a052f2dbc
    type: condition
    task:
      id: eda32e16-ea5e-494f-85b3-1a2a052f2dbc
      version: -1
      name: Verify status update
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "115"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ThreatQ.Indicator.Status
            iscontext: true
          right:
            value:
              simple: Whitelisted
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2905
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "83":
    id: "83"
    taskid: bcfbef2f-3815-4d38-85a7-25f380de4a1d
    type: regular
    task:
      id: bcfbef2f-3815-4d38-85a7-25f380de4a1d
      version: -1
      name: Edit indicator
      description: Updates an indicator in ThreatQ.
      script: ThreatQ v2|||threatq-edit-indicator
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "84"
    scriptarguments:
      description: {}
      id:
        simple: ${ThreatQ.Indicator.ID}
      retry-count:
        simple: "3"
      type:
        simple: IP Address
      value: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1855
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "84":
    id: "84"
    taskid: 3c461035-49b6-43fe-88ed-e51b2cc9916f
    type: condition
    task:
      id: 3c461035-49b6-43fe-88ed-e51b2cc9916f
      version: -1
      name: Verify indicator editing
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "80"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: ThreatQ
                accessor: Indicator.Type
            iscontext: true
          right:
            value:
              simple: IP Address
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2030
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "92":
    id: "92"
    taskid: ee5fb70b-6ab4-48e9-87d7-8c1c286754c5
    type: regular
    task:
      id: ee5fb70b-6ab4-48e9-87d7-8c1c286754c5
      version: -1
      name: Get all events
      description: Retrieves all events in ThreatQ.
      script: ThreatQ v2|||threatq-get-all-events
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "93"
    scriptarguments:
      limit:
        simple: "10"
      page:
        simple: "5"
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 4975
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "93":
    id: "93"
    taskid: 6a8e37cf-f2bb-4ee1-8012-5f5c5bad333d
    type: condition
    task:
      id: 6a8e37cf-f2bb-4ee1-8012-5f5c5bad333d
      version: -1
      name: Verify get-all-events commands
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "116"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ThreatQ.Event
            iscontext: true
    view: |-
      {
        "position": {
          "x": 910,
          "y": 5150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "99":
    id: "99"
    taskid: 92577410-1e7f-4df5-8fe3-610e8a79954c
    type: title
    task:
      id: 92577410-1e7f-4df5-8fe3-610e8a79954c
      version: -1
      name: ThreatQ Commands Tests
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "36"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "101":
    id: "101"
    taskid: 17a3f707-b5f6-4d9b-864c-e791d43754b2
    type: title
    task:
      id: 17a3f707-b5f6-4d9b-864c-e791d43754b2
      version: -1
      name: Generic Commands Tests
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "107":
    id: "107"
    taskid: a1b386cf-f1f4-47f9-8e6c-752b2ce17369
    type: title
    task:
      id: a1b386cf-f1f4-47f9-8e6c-752b2ce17369
      version: -1
      name: Indicator Commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "113"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1185
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "108":
    id: "108"
    taskid: d1fc6013-48a0-464a-8c1c-135347af7bbd
    type: title
    task:
      id: d1fc6013-48a0-464a-8c1c-135347af7bbd
      version: -1
      name: Adversary Commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "111"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 1345
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "111":
    id: "111"
    taskid: 94a3d368-888f-4597-83a3-c4f2d54a412a
    type: regular
    task:
      id: 94a3d368-888f-4597-83a3-c4f2d54a412a
      version: -1
      name: Search adversary
      description: Searches for objects by name in the ThreatQ repository.
      script: ThreatQ v2|||threatq-search-by-name
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "112"
    scriptarguments:
      limit: {}
      name:
        simple: TestAdversary-26-08
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 1505
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "112":
    id: "112"
    taskid: 6c0a40a9-240a-48ee-8489-cbf94c80d4b4
    type: condition
    task:
      id: 6c0a40a9-240a-48ee-8489-cbf94c80d4b4
      version: -1
      name: Does adversary exist?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "122"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ThreatQ.Adversary
            iscontext: true
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 1680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "113":
    id: "113"
    taskid: cde073e5-6f28-4b14-8603-5ba900de901a
    type: regular
    task:
      id: cde073e5-6f28-4b14-8603-5ba900de901a
      version: -1
      name: Search indicator
      description: Searches for objects by name in the ThreatQ repository.
      script: ThreatQ v2|||threatq-search-by-name
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "114"
    scriptarguments:
      limit: {}
      name:
        simple: 9.9.4.4
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "114":
    id: "114"
    taskid: 30e1174d-762c-480a-8ae8-21bd1473bd75
    type: condition
    task:
      id: 30e1174d-762c-480a-8ae8-21bd1473bd75
      version: -1
      name: Does indicator exist?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "37"
      "yes":
      - "83"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: ThreatQ.Indicator
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1505
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "115":
    id: "115"
    taskid: 8e9a8f30-2234-48e5-8d67-7628eba49d7e
    type: title
    task:
      id: 8e9a8f30-2234-48e5-8d67-7628eba49d7e
      version: -1
      name: Indicator and Adversary Linking
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3080
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "116":
    id: "116"
    taskid: faaa7dc2-9dba-455b-8152-53361301c1d0
    type: regular
    task:
      id: faaa7dc2-9dba-455b-8152-53361301c1d0
      version: -1
      name: Delete context
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "117"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 5325
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "117":
    id: "117"
    taskid: ddc91ee0-fc5a-4e63-8fc6-49c4d0590e34
    type: regular
    task:
      id: ddc91ee0-fc5a-4e63-8fc6-49c4d0590e34
      version: -1
      name: get ip 8.8.8.8
      description: Checks the reputation of an IP address in ThreatQ.
      script: ThreatQ v2|||ip
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "118"
    scriptarguments:
      fullResponse: {}
      ip:
        simple: 8.8.8.8
      long: {}
      retries: {}
      sampleSize: {}
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 5500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "118":
    id: "118"
    taskid: 2f0fe501-e2b9-41b6-8680-10f1914ae566
    type: regular
    task:
      id: 2f0fe501-e2b9-41b6-8680-10f1914ae566
      version: -1
      name: get ip 10.50.0.1
      description: Checks the reputation of an IP address in ThreatQ.
      script: ThreatQ v2|||ip
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "119"
    scriptarguments:
      fullResponse: {}
      ip:
        simple: 10.50.0.1
      long: {}
      retries: {}
      sampleSize: {}
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 5675
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "119":
    id: "119"
    taskid: 9df75035-db43-4324-89f6-cada97f5b3de
    type: condition
    task:
      id: 9df75035-db43-4324-89f6-cada97f5b3de
      version: -1
      name: Check context is incremented
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "120"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: hasLength
          left:
            value:
              simple: ThreatQ.Indicator
            iscontext: true
          right:
            value:
              simple: "2"
    view: |-
      {
        "position": {
          "x": 910,
          "y": 5850
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "120":
    id: "120"
    taskid: e8f947ac-8bfc-4e01-877e-3cd793569f04
    type: regular
    task:
      id: e8f947ac-8bfc-4e01-877e-3cd793569f04
      version: -1
      name: get ip 8.8.8.8 again
      description: Checks the reputation of an IP address in ThreatQ.
      script: ThreatQ v2|||ip
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "121"
    scriptarguments:
      fullResponse: {}
      ip:
        simple: 8.8.8.8
      long: {}
      retries: {}
      sampleSize: {}
      threshold: {}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 910,
          "y": 6025
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "121":
    id: "121"
    taskid: c4df32fe-672b-4941-8844-a585a322a1ff
    type: condition
    task:
      id: c4df32fe-672b-4941-8844-a585a322a1ff
      version: -1
      name: Check indicator with same value is not duplicated
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "74"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: hasLength
          left:
            value:
              simple: ThreatQ.Indicator
            iscontext: true
          right:
            value:
              simple: "2"
    view: |-
      {
        "position": {
          "x": 910,
          "y": 6200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "122":
    id: "122"
    taskid: ecc0c9e1-3197-4c06-8e81-765b39e8cb6d
    type: regular
    task:
      id: ecc0c9e1-3197-4c06-8e81-765b39e8cb6d
      version: -1
      name: Delete adversary
      description: Deletes an object in ThreatQ.
      script: ThreatQ v2|||threatq-delete-object
      type: regular
      iscommand: true
      brand: ThreatQ v2
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      obj_id:
        simple: ${ThreatQ.Adversary.ID}
      obj_type:
        simple: adversary
      retry-count:
        simple: "3"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 330,
          "y": 1870
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 6390,
        "width": 2100,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
